USE [master]
GO
/****** Object:  Database [RentCar]    Script Date: 21/12/2023 9:53:15 a. m. ******/
CREATE DATABASE [rentCar]
 CONTAINMENT = NONE
/**ON  PRIMARY 
( NAME = N'RentCar', FILENAME = N'C:\SQLServerData\RentCar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentCar_log', FILENAME = N'C:\SQLServerData\RentCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))**/
begin
EXEC [rentCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rentCar]
GO
/****** Object:  Table [dbo].[Alquileres]    Script Date: 21/12/2023 9:53:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquileres](
	[IdAlquiler] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [nchar](10) NULL,
	[Placa] [nchar](10) NULL,
	[Fecha_Entrega] [date] NULL,
	[Fecha_Recepcion] [date] NULL,
	[KmEntrega] [decimal](18, 0) NULL,
	[KmRecepcion] [decimal](18, 0) NULL,
	[KmRecorridos] [decimal](18, 0) NULL,
	[ValorKm] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Alquileres] PRIMARY KEY CLUSTERED 
(
	[IdAlquiler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/12/2023 9:53:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [nchar](10) NOT NULL,
	[Nombres] [nchar](50) NULL,
	[TipoCliente] [nchar](10) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 21/12/2023 9:53:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Placa] [nchar](10) NOT NULL,
	[Marca] [nchar](10) NULL,
	[KilometrajeActual] [int] NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'10536     ', N'pedro                                             ', N'Contrato  ')
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'11286     ', N'Steward Jobey                                     ', N'Contrato  ')
INSERT [dbo].[Clientes] ([IdCliente], [Nombres], [TipoCliente]) VALUES (N'11354     ', N'Chrissy Keyhoe                                    ', N'Ocasional ')
GO
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'00k-420   ', N'Volkswagen', 27127)
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'016-783   ', N'Pontiac   ', 43897)
INSERT [dbo].[Vehiculos] ([Placa], [Marca], [KilometrajeActual]) VALUES (N'0dV-290   ', N'Kia       ', 65302)
GO
ALTER TABLE [dbo].[Alquileres]  WITH CHECK ADD  CONSTRAINT [FK_Alquileres_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Alquileres] CHECK CONSTRAINT [FK_Alquileres_Clientes]
GO
ALTER TABLE [dbo].[Alquileres]  WITH CHECK ADD  CONSTRAINT [FK_Alquileres_Vehiculos] FOREIGN KEY([Placa])
REFERENCES [dbo].[Vehiculos] ([Placa])
GO
ALTER TABLE [dbo].[Alquileres] CHECK CONSTRAINT [FK_Alquileres_Vehiculos]
GO
USE [master]
GO
